.register-student{
    padding: 60px 100px;
    background-color: whitesmoke;
}

.go-back{
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #255674;
}

.register-form-block{
    width: 80%;
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.register-form-header{
    font-size: 24px;
    color: #255674;
    font-weight: 700;
}

.register-form{
    margin-top: 30px;
    
}

.register-form-div{
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.register-input-box{
    width: 80%;
    /* object-fit: contain; */
    
}
.input-box-register{
    width: 100%;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid;
}

.reg-btn{
    margin-top: 40px;
    width: 90%;
    border-radius: 5px;
    font-size: 20px;
    &:hover{
        background-color: #2c98dc;
    }
}

.block-divs{
    display: flex;
    gap: 20px;
    width: 90%;
}