.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.header-college-details{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-top:3px solid #255674;
    

}
.header-college-details-left{
    display: flex;
    gap: 10px;
}

.header-college-details-left-logo{
    width: 100px;
    height: 90px;
}

.header-college-details-name{
    font-weight: 600;
    font-size: 20px;
    color: rgb(25, 25, 63);
}

.header-college-details-place{
    font-weight: 600;
    color: rgb(102, 130, 27);
}

.header-college-social-media{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 10px;
}

.header-social-media-image{
    width: 25px;
    height: 25px;
}

.header-input-tags{
    width: 200px;
    outline: none;
    border: 2px solid #255674;
}

.navbar{
    width: 100%;
    height: 65px;
    background-color: #255674;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.navbar-links{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    padding: 20px;
    color: white;
    border-radius: 5px;
    &:hover{
        background-color: #2c98dc;
    }

}

.active-navLink{
    background-color: #2c98dc;
}

.navbar-link-opt{
    display: flex;
}

.event-link{
    position: relative;
}
.navbar-dropdown-popup{
    position: absolute;
    width: 300px;
    z-index: 1;
    color: black;
    border: 2px solid;
    background-color: whitesmoke;
    left: -50px;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 16px;
}

.popup-notification{
    margin: 8px 0;
}

.helpline-pop{
    left: -200px !important;
}
.header-banner{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}
.header-banner-image{
    height: 100%;
    width: 100%;
}
@media screen and (max-width:768px) {
    .header-college-details{
        flex-direction: column;
    }
    .header-college-social-media{
        margin-top: 10px;
        justify-content: flex-start;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        padding: 5px 10px;
    }
    .navbar-links{
        margin:5px ;
    }
    .navbar-dropdown-popup{
        width: 250px;
        left: 0px;
    }

}